<template>
    <div class="alarm">
        <el-tabs type="border-card"
                 class="tab">
            <el-tab-pane label="气源设备">气源设备</el-tab-pane>
            <el-tab-pane label="区域设备">区域设备</el-tab-pane>
            <el-tab-pane label="其它设备">其它设备</el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
export default {
    name: 'HelloWorld',
    data() {
        return {
            msg: '2222222'
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang = "stylus">
.alarm {
    height: 100%;

    .tab {
        height: 100%;
        border-top: none;
        border-left: none;
    }
}
</style>
