<template>
    <div class="label-input">
        <el-input-number v-show="dialogVisible"
                         ref="inputText"
                         v-model="distance"
                         value="value"
                         @keyup.enter.native="update"
                         @keyup.native="checkValue"
                         :min="0"
                         :step="1"
                         ::precision="0"
                         :controls="false"
                         label="描述文字"></el-input-number>
        <!--<el-input ref="inputText" v-model="distance" value = "value" @keyup.enter.native = "update"></el-input>-->
        <div style="position: absolute; visibility:hidden"
             ref="support"
             :style="sizeStyle">{{distance}}</div>
        <!-- <span slot="footer" class="dialog-footer"></span>-->
    </div>
</template>

<script>
export default {
    name: 'LabelInput',
    data() {
        return {
            dialogVisible: false,
            size: 60,
            offset: [0, 0],
            distance: 0,
            infoStyle: ''
        }
    },
    props: {
        callback: Function,
        editLine: Object
    },
    updated() {
        this.$nextTick(() => {
            this.$refs.inputText && this.$refs.inputText.focus()
            this.$refs.inputText &&
                this.$refs.inputText.$children[0].inputSelect()
        })
    },
    computed: {
        sizeStyle() {
            const size = this.size
            const offset = this.offset
            if (this.$refs.inputText) {
                const s = this.$refs.support.clientWidth
                this.$refs.inputText.$el.style.left =
                    offset[0] - s / 2 - 1 + 'px'
                this.$refs.inputText.$el.style.top = offset[1] - size + 'px'
                this.$refs.inputText.$el.style.width = s + 2 + 'px'
                this.$refs.inputText.$el.style.height = '18px'
                this.$refs.inputText.$el.style.position = 'absolute'
            }
            return {
                /* width: size + 'px',
            height: size + 'px',*/
                left: offset[0] - size / 2 + 'px',
                top: offset[1] - size / 2 + 'px'
            }
        }
    },
    methods: {
        destroyElement() {
            try {
                this.$destroy(true)
                this.$el.parentNode.removeChild(this.$el)
            } catch (e) {}
        },
        update() {
            if (!this.distance || this.distance < 100) {
                return
            }
            if (this.dialogVisible) {
                this.callback(this)
            }
        },
        /*   handleBeforeClose(done) {
      this.tagging.handleClose();
      done();
    },*/
        handleClose(e) {},
        checkValue(event) {
            const reg = /^[0-9]*$/
            if (!reg.test(event.target.value)) {
                event.target.value = ('' + event.target.value).replace(
                    /[^\d]/g,
                    ''
                )
                this.distance = event.target.value
            }
        }
    }
}
</script>

<style  lang = "stylus">
.label-input {
    .el-input-number {
        width: 100%;
        height: 18px;
        line-height: 18px;

        .el-input__inner {
            width: 100%;
            height: 18px;
            font-size: 11px;
            border-radius: 1px;
            padding: 0;
            border: 1px solid #e3e3e3;

            &::selection {
                color: #fff;
                background: #293036;
            }

            &::-moz-selection {
                color: #fff;
                background: #293036;
            }

            &::-webkit-selection {
                color: #fff;
                background: #293036;
            }
        }
    }
}
</style>
