<template>
    <div>
        <el-dialog :modal="false"
                   :append-to-body="true"
                   custom-class="label-edit"
                   width="60px"
                   top="0"
                   title="吊顶"
                   ref="dialog"
                   :before-close="handleBeforeClose"
                   :modal-append-to-body="false"
                   @close="handleClose"
                   :visible.sync="dialogVisible"
                   :close-on-click-modal="true"
                   v-dialogDrag>
            <el-input-number ref="inputText"
                             v-model="distance"
                             value="value"
                             @keyup.enter.native="update"
                             @blur="update"
                             @keyup.native="checkValue"
                             :min="100"
                             :step="1"
                             ::precision="0"
                             :controls="false"
                             label="描述文字"></el-input-number>
            <!--<el-input ref="inputText" v-model="distance" value = "value" @keyup.enter.native = "update"></el-input>-->
            <div style="display:none;"
                 :style="sizeStyle"></div>
            <!-- <span slot="footer" class="dialog-footer"></span>-->
        </el-dialog>
    </div>
</template>

<script>
import VueStoreData from '../../store/VueStoreData.ts'
export default {
    name: 'LabelEdit',
    props: {
        tagging: object
    },
    data() {
        return {
            dialogVisible: true,
            offset: [0, 0],
            size: 50,
            distance: 0,
            infoStyle: ''
        }
    },
    mounted() {
        this.distance = this.tagging.distance
    },
    computed: {
        sizeStyle() {
            const size = this.size
            const offset = this.offset
            if (this.$refs.dialog) {
                this.$refs.dialog.$el.children[0].style.left =
                    offset[0] - size / 2 - 2 + 'px'
                this.$refs.dialog.$el.children[0].style.top =
                    offset[1] - size / 2 + 14 + 'px'
            }
            return {
                /* width: size + 'px',
            height: size + 'px',*/
                left: offset[0] - size / 2 + 'px',
                top: offset[1] - size / 2 + 'px'
            }
        }
    },
    methods: {
        destroyElement() {
            try {
                this.$destroy(true)
                this.$el.parentNode.removeChild(this.$el)
            } catch (e) {}
        },
        update() {
            if (!this.distance) {
                return
            }
            if (this.dialogVisible) {
                this.tagging.updateTagging(this.distance)
            }
            VueStoreData.setEditRuler(false)
        },
        handleBeforeClose(done) {
            this.tagging.handleClose()
            done()
        },
        handleClose(e) {},
        checkValue(event) {
            const reg = /^[0-9]*$/
            if (!reg.test(event.target.value)) {
                event.target.value = ('' + event.target.value).replace(
                    /[^\d]/g,
                    ''
                )
                this.distance = event.target.value
            }
        }
    }
}
</script>

<style  lang = "stylus">
.label-edit {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 1;
    left: 6px;
    z-index: 100;
    width: 60px;
    height: 22px;
    padding: 0;
    border: none;
    margin-top: 13px;

    .el-dialog__header {
        background: #293036;
        color: #ffffff;
        padding: 10px;
        display: none;
    }

    .el-dialog__body {
        border: none;
        width: 100%;
        height: 22px;
        padding: 0;

        .el-input-number {
            width: 100%;
            height: 22px;
            line-height: 22px;

            .el-input__inner {
                width: 100%;
                height: 24px;
                border-radius: 1px;
                padding: 0;
            }
        }
    }
}
</style>
