@import './normalize';

i.tuicon {
  font-size: 1em;
}

* {
  .el-tooltip__popper.is-dark {
    background: #373f47;
    border-radius: 4px;
  }
  .el-popper[x-placement^='bottom'] {
    margin-top: 0px;
  }
  .el-popper[x-placement^='bottom'] .popper__arrow {
    display: none;
  }
  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 100px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    margin-top: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #d2d2d2;
    /*&:hover {
      background-color: rgba(0, 0, 0, .4);
    }*/
  }
  .animationImg {
    animation: mySnapShot 1s infinite linear;
  }
  .animationRender {
    animation: render 0.5s infinite linear;
  }
  @keyframes render {
    0% {
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes mySnapShot {
    0% {
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
    100% {
      -moz-transform: translate(-50%, 50%) scale(0.1);
      -webkit-transform: translate(-50%, 50%) scale(0.1);
      -ms-transform: translate(-50%, 50%) scale(0.1);
      -o-transform: translate(-50%, 50%) scale(0.1);
      left: 480px;
      top: 120px;
    }
  }
}

* {
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  overflow: hidden;
}
