<template>

    <div class="air-device">
        <div ref="myChart" style="width: 1000px; height: 500px"></div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                msg: '2222222'
            }
        },
        mounted() {
            this.drawLine()
        },
        methods: {
            drawLine() {
                // 基于准备好的dom，初始化echarts实例
                const myChart = this.$echarts.init(this.$refs.myChart)
                // 绘制图表
                const option = {
                    title: {
                        text: '气源设备'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['二楼医用二氧化碳汇流排', '三楼医用二氧化碳汇流排']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        splitLine: {
                            show: true
                        },
                        data: ['5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00']
                    },
                    yAxis: {
                        name: '压强(kPa)',
                        type: 'value',
                        max: 1000,
                        min: -100,
                        splitNumber: 10

                    },
                    series: [
                        {
                            name: '二楼医用二氧化碳汇流排',
                            symbol: 'none',  // 这句就是去掉点的
                            type: 'line',
                            smooth: true,    // 这句就是让曲线变平滑的
                            // stack: '总量',
                            data: [350, 740, 750, 760, 690, 595, 710, 590, 690, 760, 720]
                        },
                        {
                            name: '三楼医用二氧化碳汇流排',
                            symbol: 'none',  // 这句就是去掉点的
                            type: 'line',
                            smooth: true,  // 这句就是让曲线变平滑的
                            // stack: '总量',
                            data: [200, 740, 770, 760, 690, 400, 710, 590, 730, 780, 740]
                        }
                    ]
                }
                myChart.setOption(option)
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus">
    .air-device {
        height: 100%;
        width: 100%

    }
</style>
