<template>
    <div class="hello">
        <div style="width:100%;height:50px;border: 1px solid red;"></div>
        <ul>
            <li> <a @click="handleClick('one')">{{ msg }}</a></li>
            <li> <a @click="handleClick('two')">
                    <h2>Essential Links</h2>
                </a></li>
        </ul>

        <router-view></router-view>
    </div>
</template>

<script>
import { MessageBox } from 'element-ui'
import VueStoreData from '../store/VueStoreData'
import { autorun, reaction } from 'mobx'
import DisposeMixin from '../mixin/DisposeMixin'
export default {
    name: 'HelloWorld',
    mixins: [DisposeMixin],
    data() {
        return {
            msg: 'Welcome to Your Vue.js App'
        }
    },
    fromMobx: {
        designTabShow: {
            get() {
                return VueStoreData.designTabShow
            },
            set(val) {
                VueStoreData.setDesignTabShow(val)
            }
        }
    },
    mounted() {
        const me = this
        MessageBox.confirm('是进入主页?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
        })
            .then(() => {
                me.$mess({
                    message: '欢迎！',
                    type: 'success'
                })
                me.display = true
            })
            .catch(() => {
                me.display = false
            })
        this.disposeArr.push(autorun(() => {}, 20))
        this.disposeArr.push(
            reaction(() => VueStoreData.designTabShow, (value) => {})
        )
    },
    methods: {
        handleClick(value) {
            if (value === 'one') {
                this.$router.push('/stage2')
                this.designTabShow = 'stage2'
            } else {
                this.$router.push('/stage1')
                this.designTabShow = 'stage1'
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang = "stylus">
h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
</style>
