<template>
    <div class="global-wrap">
        <div class="header"> <span class="title">雅森医疗</span></div>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: 'default',
    data() {
        return {
            msg: 'Welcome to Your Vue.js App'
        }
    },
    mounted() {},
    methods: {
        handleClick(value) {
            if (value === 'one') {
                this.$router.push('/stage2')
            } else {
                this.$router.push('/stage1')
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang = "stylus">
.global-wrap {
    height: 100%;

    .header {
        text-align: left;
        width: 100%;
        height: 70px;
        /* background-color: #409EFF; */
        border-bottom: solid 1px #e6e6e6;

        .title {
            height: 70px;
            /* background-color: red; */
            width: 200px;
            display: inline-block;
            font-size: 25px;
            line-height: 70px;
            text-align: center;
        }
    }
}
</style>
