<template>
  <div class="container">
    <div class="top-bar">
      <el-menu :default-active="activeIndex" mode="horizontal"
               :router="true"
               active-text-color="#409EFF"
               @select="handleSelect"
               @open="handleOpen"
               @close="handleClose">

        <el-menu-item :index="tabItem.action"
                      :class="{selected:tabItem.action===activeIndex}"
                      v-for="(tabItem ,i) in menu"
                      :key="i">
          <i class="iconfont"
             :class="`icon-${tabItem.icon}`"></i>
          <span slot="title">{{tabItem.name}}</span>
        </el-menu-item>

      </el-menu>
    </div>

    <div class="main-view">
      <real-Value v-show="$route.name==='realValue'"> </real-Value>
      <Tendency v-show="$route.name==='tendency'"> </Tendency>
      <Alarm v-show="$route.name==='alarm'"> </Alarm>
    </div>
  </div>
</template>

<script>
import RealValue from './realValue/index.vue'
import Tendency from './tendency/index.vue'
import Alarm from './alarm/index.vue'
export default {
    name: 'main',
    components: {
        RealValue,
        Tendency,
        Alarm
    },
    data() {
        return {
            menu: [
                {
                    name: '实时值',
                    action: 'realValue',
                    icon: 'realValue'
                },
                {
                    name: '趋势图',
                    action: 'tendency',
                    icon: 'tendency'
                },
                {
                    name: '报警记录',
                    action: 'alarm',
                    icon: 'alarm'
                },
                {
                    name: '设备管理',
                    action: 'deviceManage',
                    icon: 'deviceManage'
                }
            ],
            activeIndex: 'realValue'
        }
    },
    methods: {
        handleOpen(key, keyPath) {
            console.log(key, keyPath)
        },
        handleClose(key, keyPath) {
            console.log(key, keyPath)
        },
        handleSelect(key, keyPath) {
            debugger
            this.activeIndex = key
            console.log(key, keyPath)
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang = "stylus">
.container {
  height: 100%;

  .top-bar {
    height: 50px;

    /* background-color: #409EFF; */
    ul {
      list-style: none;
      padding: 0;
      width: 100%;
      height: 100%;
      text-align: left;

      li {
        text-decoration: none;
        /* color: #808b94; */
        display: block;
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        width: 150px;
        text-align: center;
        i {
          margin-right: 10px;
          width: 24px;
          text-align: center;
          font-size: 20px;
          vertical-align: middle;
        }
      }
    }
    .selected {
          outline: 0;
          background-color: #ecf5ff;
        }
  }

  .main-view {
    /* width: 100%; */
    position: relative;
    height: 100%;
    top: 1px;
    .el-tabs__nav{
        /*margin-left:20px;*/
      }
  }
}
</style>
