<template>
    <div class="air-device">
        <el-tree :data="treeData" :props="defaultProps" @node-click="handleNodeClick" :expand-on-click-node="false" class="tree-class">
            <span class="custom-tree-node" slot-scope="{ node, data }">
        <span>
            <i class="iconfont" :class="node.icon"></i>{{ node.label }}</span>
      </span>
        </el-tree>
        <!--<div>-->
        <!--<el-dropdown trigger="click" class="drop-down" placement="bottom" @command="handleSelect">-->
        <!--<el-button type="primary" class="dropdown-button">-->
        <!--{{$selectedName}}<i class="el-icon-arrow-down el-icon&#45;&#45;right"></i>-->
        <!--</el-button>-->
        <!--<el-dropdown-menu slot="dropdown" class="drop-menu" style="width:200px;">-->
        <!--<el-dropdown-item v-for="(tabItem ,i) in selectData" :key="tabItem.name" :command="tabItem">-->
        <!--{{tabItem.label}}-->
        <!--</el-dropdown-item>-->
        <!--</el-dropdown-menu>-->
        <!--</el-dropdown>-->
        <!--</div>-->

        <div class="table-css">
            <span style="float: left; margin: 10px 20px;text-align: left;">数据列表</span>
            <el-table :data="tableData" style="width:1400px;" :stripe="true" size="mini" :border="true" max-height="1200" highlight-current-row>
                <el-table-column  label="序号" align="center"
                        type="index"
                        width="50">
                </el-table-column>
                <el-table-column v-for="(one ,index) in tabTitleOne" :key="index" :prop="one.prop"
                                 v-if="!one.temp" align="center"
                                 :label="one.label" :width="one.width">
                    <!--<template slot-scope="scope">{{[scope.row]}}</template>-->
                </el-table-column>
                <el-table-column v-for="(titleOne ,i) in tabTitleOne" :key="i" :prop="titleOne.prop"   v-if="titleOne.temp"
                                 :label="titleOne.label" :width="titleOne.width" align="center">
                    <template slot-scope="scope" >
                        <el-table :data="[scope.row]" style="width:1262px;" :stripe="true" :border="true"
                                  max-height="1200">
                            <el-table-column v-for="(titleTwo ,i) in tabTitleTwo" :key="i" :prop="titleTwo.prop"
                                             v-if="titleTwo.type===titleOne.prop" align="center"
                                             :label="titleTwo.label" :width="titleTwo.width">
                            </el-table-column>
                        </el-table>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>

</template>

<script>
import DeviceData from '../../data/DeviceData.ts'
export default {
   async mounted() {debugger;
     //   this.selectedNode = DeviceData.deviceData[0]
        this.treeData = await this.getDeviceData()
        console.log(this.treeData)
    },
    computed: {
        // $selectedName() {
        //     if (!this.selectedCommand) {
        //         debugger
        //         return '气源设备选择'
        //     }
        //     return this.selectedCommand.label
        // },
        tableData() {
            if (this.selectedNode) {
                if (this.selectedNode.grade === 2) {
                    const data = DeviceData.tableData[this.selectedNode.typeId]
                    if (data) {
                        return data
                    }
                } else if (this.selectedNode.grade === 3) {
                    const data =
                        DeviceData.tableData[this.selectedNode.parentId]
                    if (data) {
                        console.log(data)
                        return data.filter((record, index) => {
                            return record.typeId === this.selectedNode.typeId
                        })
                    }
                }
            }
            return []
        },
        tabTitleOne() {
            if (this.selectedNode) {
                const data = DeviceData.tableTitle[102]
                if (data) {
                    return data.tabTitleOne
                }
            }
            return []
        },
        tabTitleTwo() {
            if (this.selectedNode) {
                const data = DeviceData.tableTitle[102]
                if (data) {
                    return data.tabTitleTwo
                }
            }
            return []
        },
        // treeData() {debugger;
        //     return this.deiceData
        // }
    },
    watch: {
        abc: {
            handler(newName, oldName) {

            },
            // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
            deep: true
        }
    },
    data() {
        return {
            selectedNode: null,
            selectedCommand: undefined,
            selectData: [
                {
                    name: 'device_1',
                    label: '医用氧气'
                },
                {
                    name: 'device_2',
                    label: '医疗空气'
                },
                {
                    name: 'device_3',
                    label: '医用真空'
                },
                {
                    name: 'device_4',
                    label: '器械空气'
                },
                {
                    name: 'device_5',
                    label: '医用氮气'
                },
                {
                    name: 'device_6',
                    label: '医用氧化亚氮'
                },
                {
                    name: 'device_7',
                    label: '医用二氧化碳'
                },
                {
                    name: 'device_8',
                    label: '医用高纯氧'
                },
                {
                    name: 'device_9',
                    label: '麻醉废气'
                },
                {
                    name: 'device_10',
                    label: '其他废气'
                },
                {
                    name: 'device_11',
                    label: '牙科空气'
                },
                {
                    name: 'device_12',
                    label: '牙科真空'
                }
            ],
            defaultProps: {
                children: 'subMedicalList',
                label: 'medicalName',
            },
            treeData:[]
        }
    },

    methods: {
        handleSelect(command) {
            debugger
            this.selectedCommand = command
        },
        handleNodeClick(data) {
            debugger
            this.selectedNode = data

        },
        async  getDeviceData(){
          let data = await DeviceData.initDeviceData()
            debugger;
          return data
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus">
    .air-device {
        height: 100%;

        .tree-class {
            width: 250px;
            height: 100%;
            font-size: 16px;
            float: left;
            border-right: 1px solid #e4e7ed;
            .iconfont {
                  font-family:"iconfont" !important;
                  font-size:15px;
                  font-style:normal;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                color:#409EFF;
                padding: 0 5px 0 0;
              }
        }
        .dropdown-button {
            width: 200px;
            font-size: 16px;
        }
        .drop-menu {
            width: 200px;
        }
        .table-css {
            float: left;
            /* width: 500px; */
            height: 100%;
            width: -webkit-calc(100% - 280px);
            width: -moz-calc(100% - 280px);
            width: calc(100% - 280px);
            padding: 15px 0 15px 25px;
        }
        .el-tree {
            .el-tree-node {
                .el-tree-node__content {
                    height: 30px;
                    &:hover{
                        /*background-color: #409EFF;*/
                        /*opacity :0.5;*/
                        color:#409EFF;
                    }
                    .el-tree-node__expand-icon {
                       font-size: 18px;
                        padding: 0;
                        /*padding-right: 2px;*/
                    }
                }
            }
        }
    }
</style>
