<template>
    <div class="real-value">
        <el-tabs type="border-card"
                 class="tab">
            <el-tab-pane label="气源设备" style="    height: 100%;">
                <air-device> </air-device>
            </el-tab-pane>
            <el-tab-pane label="区域设备">区域设备</el-tab-pane>
            <el-tab-pane label="其它设备">其它设备</el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
import AirDevice from './airDevice.vue'
export default {
    name: 'HelloWorld',
    components: {
        AirDevice
    },
    data() {
        return {
            msg: '11111111'
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang = "stylus">
.real-value {
    height: 100%;

    .tab {
        height: 100%;
        border-top: none;
        border-left: none;
    }
    .el-tabs__content{
        position: absolute;
        height: 100%;

    }
    .el-tabs__item{
        font-size: 16px;
    }
}
</style>
