<template>
  <div id="app">
    <keep-alive include="Default">
      <router-view class="main-view"></router-view>
    </keep-alive>
  </div>
</template>

<style lang="stylus">
@import './assets/font/iconfont.css';
@import './assets/less/style.styl';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
</style>
